@import "tailwindcss";


footer {
    background-image: url("../assets/tableau_de_bord2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bg1 {
    background-color: rgba(0, 0, 0, 0.842);
}

.bg2 {
    background-color: rgb(56, 179, 73);
}
