@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

.color1 {
  color: rgb(86, 29, 37);
}

.color2 {
  color: rgb(17, 22, 51);
}

.color3 {
  color: rgb(123, 124, 125);
}

.color4 {
  color: rgb(133, 131, 133);
}

.border-r-color {
  border-right: 2px solid rgb(86, 29, 37);
}

.bg1 {
  background-color: rgb(86, 29, 37);
}

.bg2 {
  background-color: rgb(255, 255, 255);
}

.bg3 {
  background-color: rgb(247, 249, 251);
}

.bg4 {
  background-color: rgb(215, 215, 215);
}

.bg5 {
  background-color: rgb(63, 38, 76);
}

.bg6 {
  background-color: rgb(247, 249, 251);
}

.bg7 {
  background-color: rgb(35, 35, 35);
}

.bg8 {
  background-color: rgb(61, 61, 61);
}

.bg9 {
  background-color: rgb(0, 0, 0);
}

/* HEADER BACKGROUND IMAGE */
.header-welcome {
  background-size: 100% 100%;
  background-image: url("../assets/header-bg.png");
  background-repeat: no-repeat;
}

/* CLASS DISPLAY NONE */
.none {
  display: none;
}

/* Responsive */
@media all and (max-width: 1599px)
{
    .nav1 {
      width: 1100px;
    }

    .nav2 {
      width: 1200px;
    }

    .article-services {
      width: 1100px;
    }

    .services-para {
      width: 380px;
    }

    .support-apropos {
      width: 1100px;
    }

    .colonne-apropos {
      height: 270px;
    }

    .para-apropos {
      width: 500px;
    }

    .support-expertise {
      width: 1100px;
    }

    .support-evaluation {
      width: 1100px;
    }
}

@media all and (max-width: 1213px)
{
  .nav1 {
      width: 1000px;
  }

  .nav2 {
      width: 1100px;
  }

  .ul-link {
    font-size: small;
  }

  .nav-link {
    width: 120px;
  }


}

@media all and (max-width: 1169px)
{
  /* BARRE DE NAVIGATION */
  .nav1 {
      width: 900px;
  }

  .nav2 {
      width: 960px;
  }

  /* SECTION HEADER WELCOME */
  .header-welcome {
    height: 630px;
  }

  .support-header-welcome {
    margin-left: 100px;
    margin-top: 120px;
  }

  .titre-header-welcome {
    font-size: 50px;
  }

  /* SECTION SERVICES */
  .article-services {
    width: 800px;
  }

  .article-services-colonne {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-icon-services {
    width: 150px;
    height: 150px;
    font-size: 50px;
    margin-top: 40px;
    position: unset;
  }

  .container-description-services {
    margin-left: unset;
  }

  .services-titre {
    font-size: 30px;
    margin-top: 25px;
    text-align: center;
  }

  .services-para {
    width: 600px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
  }

  .article-services-colonne {
    width: 100%;
  }

  /* SECTION APROPOS */
  .support-apropos {
    width: 800px;
  }

  .colonne-apropos {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .para-apropos {
    width: 600px;
  }
  .colonne-apropos2 {
    width: 100%;
    height: 300px;
  }

  /* SECTION EXPERTISE */
  .section-expertise {
    height: 800px;
  }

  .support-expertise {
    width: 800px;
  }

  .expertise-col-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .expertise-col-2 {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .expertise-titre {
    font-size: 45px;
  }

  .expertise-list1 {
    display: none;
  }

  .expertise-list2 {
    display: flex;
    margin-top: 25px;
  }

  .btn-expertise {
    margin-block: 40px;
  }

  /* SECTION EVALUATION */
  .section-evaluation {
    height: 650px;
  }

  .support-evaluation {
    width: 800px;
  }

  .colonne-evaluation {
    width: 50%;
    gap: 20px;
  }

  .support-icon-evaluation {
    width: 120px;
    height: 120px;
    margin-top: 25px;
  }

  .titre-evaluation {
    font-size: 30px;
  }

  .sous-titre-evaluation {
    font-size: 20px;
  }

  /* SECTION NEWS */
  .support-news {
    width: 800px;
  }

  .news-colonne-1 {
    width: 50%;
  }

  .news-img1 {
    width: 95%;
  }

  .news-para-img1 {
    font-size: 20px;
  }

  .news-colonne-2 {
    width: 50%;
    align-items: unset;
  }

  .news-img2 {
    width: 95%;
    margin-left: 5%;
  }

  .news-para-img2 {
    font-size: 20px;
    margin-left: 5%;
  }

  .news-colonne-3 {
    width: 50%;
    align-items: unset;
  }

  .news-img3 {
    width: 95%;
  }

  .news-para-img3 {
    font-size: 20px;
    margin-left: unset;
  }

  .news-colonne-4 {
    width: 50%;
    align-items: unset;
  }

  .news-img4 {
    width: 95%;
    margin-left: 5%;
  }

  .news-para-img4 {
    font-size: 20px;
    margin-left: 5%;
  }


  /* SECTION COMPETENCE */
  .support-competence {
    width: 800px;
  }

  .competence-logo {
    height: 200px;
  }


  /* SECTION CONTACT */
  .support-contact {
    width: 800px;
  }

  .contact-col-1 {
    width: 100%;
  }

  .contact-col-2 {
    width: 100%;
  }


}

@media all and (max-width: 990px)
{
  /* BARRE DE NAVIGATION */
  .nav1 {
      width: 780px;
  }

  .nav2 {
      width: 850px;
  }

  .ul-link {
    display: none;
  }

  .navbar-btn {
    display: block;
  }


}

@media all and (max-width: 890px)
{

  /* BARRE DE NAVIGATION */
  .nav1 {
      width: 690px;
  }

  .nav2 {
      width: 760px;
  }

  /* SECTION HEADER */
  .header-welcome {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .support-header-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: unset;
    margin-left: unset;
  }

  .span-header {
    display: block;
  }

  .header-para {
    width: 500px;
    text-align: center;
  }


}

@media all and (max-width: 832px)
{
  /* SECTION SERVICES */
  .article-services {
    width: 720px;
  }

  /* SECTION APROPOS */
  .support-apropos {
    width: 720px;
  }

  /* SECTION EXPERTISE */
  .support-expertise {
    width: 720px;
  }

  /* SECTION EVALUATION */
  .support-evaluation {
    width: 720px;
  }

  /* SECTION NEWS */
  .support-news {
    width: 720px;
  }

   /* SECTION COMPETENCE */
  .support-competence {
    width: 720px;
  }

  .competence-container-image {
    width: 100%;
    height: 400px;
  }

  .competence-logo {
    height: 350px;
  }

  /* SECTION CONTACT */
  .support-contact {
    width: 720px;
  }

}

@media all and (max-width: 788px)
{
  /* BARRE DE NAVIGATION */
  .nav1 {
      width: 600px;
  }

  .nav2 {
      width: 700px;
  }

  .support-header-welcome {
    width: 700px;
  }


}

@media all and (max-width: 750px)
{
  /* BARRE DE NAVIGATION */
  .nav1 {
      width: 560px;
  }

  .nav2 {
      width: 650px;
  }

  .join-us-link1 {
    display: none;
  }

  .join-us-link2 {
    display: block;
  }

  /* SECTION HEADER */

  .support-header-welcome {
    width: 650px;
  }

  /* SECTION SERVICES */
  .article-services {
    width: 650px;
  }

  /* SECTION APROPOS */
  .support-apropos {
    width: 650px;
  }

  /* SECTION EXPERTISE */
  .support-expertise {
    width: 650px;
  }

  /* SECTION EVALUATION */
  .support-evaluation {
    width: 650px;
  }

  /* SECTION NEWS */
  .support-news {
    width: 650px;
  }

  .news-colonne-1 {
    width: 100%;
  }

  .news-img1 {
    width: 100%;
  }

  .news-para-img1 {
    font-size: 30px;
  }

  .news-colonne-2 {
    width: 100%;
    margin-top: 35px;
  }

  .news-img2 {
    width: 100%;
    margin-left: unset;
  }

  .news-para-img2 {
    font-size: 30px;
    margin-left: unset;
  }

  .news-colonne-3 {
    width: 100%;
    margin-top: 35px;
  }

  .news-img3 {
    width: 100%;
  }

  .news-para-img3 {
    font-size: 30px;
  }

  .news-colonne-4 {
    width: 100%;
    margin-top: 35px;
  }

  .news-img4 {
    width: 100%;
    margin-left: unset;
  }

  .news-para-img4 {
    font-size: 30px;
    margin-left: unset;
  }


  /* SECTION COMPETENCE */
  .support-competence {
    width: 650px;
  }

  /* SECTION CONTACT */
  .support-contact {
    width: 650px;
  }


}

@media all and (max-width: 684px)
{
  /* BARRE DE NAVIGATION */
  .nav1 {
      width: 480px;
  }

  .nav2 {
      width: 550px;
  }

  /* SECTION HEADER */

  .support-header-welcome {
    width: 550px;
  }

  .titre-header-welcome {
    width: 400px;
    text-align: center;
  }

  /* SECTION SERVICES */
  .article-services {
    width: 550px;
  }

  .services-para {
    width: 370px;
  }

  /* SECTION APROPOS */
  .support-apropos {
    width: 550px;
  }

  .para-apropos {
      width: 460px;
  }

   /* SECTION EXPERTISE */
  .support-expertise {
    width: 550px;
  }

  /* SECTION EVALUATION */
  .support-evaluation {
    width: 550px;
  }

  /* SECTION NEWS */
  .support-news {
    width: 550px;
  }

  /* SECTION COMPETENCE */
  .support-competence {
    width: 550px;
  }

  /* SECTION CONTACT */
  .support-contact {
    width: 550px;
  }


}

@media all and (max-width: 590px)
{
  /* BARRE DE NAVIGATION */
  .nav1 {
      width: 420px;
  }

  .nav2 {
      width: 490px;
  }

  /* SECTION HEADER */
  .support-header-welcome {
    width: 490px;
  }

  .support-btn-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-btn-contact {
    margin-left: unset;
    margin-top: 48px;
  }

  /* SECTION SERVICES */
  .article-services {
    width: 490px;
  }

  /* SECTION APROPOS */
  .support-apropos {
    width: 490px;
  }

  .colonne-apropos {
    height: 320px;
  }


  /* SECTION EXPERTISE */
  .support-expertise {
    width: 490px;
  }

  .expertise-list2 {
    height: 180px;
    flex-direction: column;
  }

  .expertise-item {
    text-align: center;
    margin-left: unset;
    margin-top: auto;
  }

  .section-expertise {
    height: 950px;
  }

  /* SECTION EVALUATION */
  .support-evaluation {
    width: 490px;
  }

  /* SECTION NEWS */
  .support-news {
    width: 490px;
  }

  /* SECTION COMPETENCE */
  .support-competence {
    width: 490px;
  }

  /* SECTION CONTACT */
  .support-contact {
    width: 490px;
  }


}


@media all and (max-width: 530px)
{
  /* BARRE DE NAVIGATION */
  .nav1 {
      width: 360px;
  }

  .nav2 {
      width: 420px;
  }

  /* SECTION HEADER */
  .header-welcome {
    height: 760px;
  }

  .support-header-welcome {
    width: 420px;
  }

  .header-para-intro {
    text-align: center;
  }

  .titre-header-welcome {
    width: 350px;
  }

  .header-para {
    width: 380px;
  }

  /* SECTION SERVICES */
  .article-services {
    width: 420px;
  }

  /* SECTION APROPOS */
  .support-apropos {
    width: 420px;
  }

  .para-apropos {
    width: 350px;
  }

  .colonne-apropos {
    height: 370px;
  }

  /* SECTION EXPERTISE */
  .support-expertise {
    width: 420px;
  }

  /* SECTION EVALUATION */
  .section-evaluation {
    height: 1300px;
  }

  .support-evaluation {
    width: 420px;
  }

  .colonne-evaluation {
    width: 100%;
  }

  /* SECTION NEWS */
  .support-news {
    width: 420px;
  }

  /* SECTION COMPETENCE */
  .support-competence {
    width: 420px;
  }

  /* SECTION CONTACT */
  .support-contact {
    width: 420px;
  }


}


@media all and (max-width: 452px)
{
  /* BARRE DE NAVIGATION */
  .nav1 {
      width: 300px;
  }

  .nav2 {
      width: 350px;
  }

  /* SECTION HEADER */
  .header-welcome {
    height: 790px;
  }

  .support-header-welcome {
    width: 350px;
  }

  .titre-header-welcome {
    width: 300px;
  }

  .header-para {
    width: 300px;
  }

  /* SECTION SERVICES */
  .article-services {
    width: 350px;
  }

  .services-para {
    width: 300px;
    margin: auto;
    margin-top: 30px;
  }

  /* SECTION APROPOS */
  .support-apropos {
    width: 350px;
  }

  .para-apropos {
    width: 310px;
  }

  /* SECTION EXPERTISE */
  .section-expertise {
    height: 1100px;
  }

  .support-expertise {
    width: 350px;
  }

  .expertise-list2 {
    height: 220px;
  }

  /* SECTION EVALUATION */
  .support-evaluation {
    width: 350px;
  }

  /* SECTION NEWS */
  .support-news {
    width: 350px;
  }

  /* SECTION COMPETENCE */
  .support-competence {
    width: 350px;
  }

  .competence-logo {
    height: 270px;
  }

  /* SECTION CONTACT */
  .support-contact {
    width: 350px;
  }


}

@media all and (max-width: 371px)
{
  /* BARRE DE NAVIGATION */
  .nav2 {
      width: 300px;
  }

  .support-header-welcome {
    width: 300px;
  }

  .titre-header-welcome {
    width: 250px;
  }

  .header-para {
    width: 250px;
  }

  /* SECTION SERVICES */
  .article-services {
    width: 300px;
  }

  .sous-titre-services {
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }

  .services-para {
    width: 250px;
  }

  /* SECTION APROPOS */
  .support-apropos {
    width: 300px;
  }

  .para-apropos {
    width: 260px;
  }

  .colonne-apropos {
    height: 390px;
  }

  /* SECTION EXPERTISE */
  .support-expertise {
    width: 300px;
  }

  /* SECTION TITRE EVALUATION */
  .titre-section-evaluation {
    width: 260px;
  }

  /* SECTION EVALUATION */
  .support-evaluation {
    width: 300px;
  }

  /* SECTION NEWS */
  .titre-news {
    width: 260px;
  }

  .support-news {
    width: 300px;
  }

  /* SECTION COMPETENCE */
  .support-competence {
    width: 300px;
  }

  /* SECTION CONTACT */
  .support-contact {
    width: 300px;
  }

  /* FOOTER */
  .footer-titre {
    font-size: 15px;
  }



}

